
{{#children}} {{! Each item is an "li" }}
<li class="{{#if is_folder}}folder{{/if}}{{#if is_file}}file{{/if}}">

    {{#if is_folder}}
        <label for="{{path}}">
            <h3>{{name}}</h3>
            <p>{{path}}</p>
        </label>

        <input type="checkbox" id="{{path}}"/>

        {{#if children}} {{! Within the context of the current item }}
            <ul>
                {{> filelist}} {{! Recursively render the partial }}
            </ul>
        {{/if}}
    {{/if}}


    {{#if is_file}}
        <a href="/files{{path}}"><h3>{{name}}</h3><p>{{path}}</p></a>
    {{/if}}

</li>
{{/children}}
