<div class="content homepage-content">
    <div class="cells">
        {{#cells}}

            <div class="cell">
                <a class="nounderline" href="{{address}}" target="{{target}}">
                    <img class="links_image {{type}}" src="{{image}}" alt="{{image_desc}}">

                    <h2 class="links_title {{type}}">{{title}}</h2>
                    
                    <p class="links_text {{type}}">{{description}}</p>
                </a>
            </div>

        {{/cells}}
    </div>
</div>
